/* MOBILE FIRST */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

.subscription {
  background: linear-gradient(135deg, #ffffff, #fff3f3);
  width: 100%;
}

.header {
  width: 100%;
  height: fit-content;
}

.logo img {
  width: 16rem;
  padding: 3rem;
}

.img-wrapper .desktop-img {
  display: none;
}

.img-wrapper {
  width: 100%;
  height: auto;
}

.img-wrapper img {
  width: 100%;
  object-fit: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4.2rem;
  margin: 6rem 6rem 1.8rem;
  color: #ce9797;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1rem;
  max-width: 40rem;
}

.black {
  display: block;
  color: #000;
  font-weight: 600;
}

.banner p {
  color: #ce9797;
  margin: 0 3rem 3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: 42rem;
}

.input-group {
  position: relative;
  margin-bottom: 9rem;
}

/* changing all input type from email to text so the error won't overlap with the built-in one */
.input-group input[type="text"] {
  background: transparent;
  width: 30rem;
  height: 4.8rem;
  border: 0.1rem solid rgba(98, 60, 60, 0.2);
  border-radius: 2.5rem;
  padding-left: 2rem;
  font-family: "Josefin Sans";
}

.error-icon {
  position: absolute;
  right: 6.5rem;
  top: 1rem;
  display: none;
}

.input-group input[type="text"]::placeholder {
  color: rgba(206, 151, 151, 0.5);
  font-family: "Josefin Sans";
}

.input-group input[type="text"]:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(206, 151, 151, 0.25);
}

.submit-btn {
  position: absolute;
  width: 6.6rem;
  height: 4.8rem;
  left: 23.6rem;
  background: url(../images/icon-arrow.svg) center no-repeat,
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 2.5rem;
  border: none;
  box-shadow: 0 1.5rem 1.5rem #be2f3429;
}

/* MEDIA QUERIES FOR TABLET AND DESKTOP */
@media (min-width: 599px) {
  .input-group input[type="text"] {
    width: 35rem;
  }

  .submit-btn {
    left: 28.6rem;
  }
}

@media (min-height: 905px) and (max-width: 990px) {
  .subscription {
    height: 100vh;
  }

  h1 {
    font-size: 5.2rem;
  }
}

@media (min-width: 750px) {
  .subscription {
    display: grid;
    grid-template-columns: 1fr 42.5%;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .header {
    order: 2;
    height: fit-content;
  }

  .logo {
    position: absolute;
    left: 4.6rem;
  }

  .logo img {
    margin-left: 0rem;
    margin-top: 3rem;
    width: 22rem;
  }

  .img-wrapper .mobile-img {
    display: none;
  }

  .img-wrapper .desktop-img {
    display: block;
  }

  .img-wrapper {
    position: absolute;
    right: 0;
    width: 42.5%;
    height: 100vh;
  }

  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .banner {
    background: url(../images/bg-pattern-desktop.svg) center no-repeat,
      linear-gradient(135deg, #ffffff, #fff3f3);
    background-position-y: inherit;
    background-position-x: right;
    background-size: 100% 100vh;
    padding-top: 8.3rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner h1 {
    text-align: left;
    width: 38rem;
    margin-left: 0;
    font-size: 5.5rem;
    margin-top: 5rem;
    margin-bottom: 0;
    letter-spacing: 1.8rem;
    line-height: 1.1;
  }

  .banner p {
    text-align: left;
    width: 43rem;
    margin: 3rem 3rem 0 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .input-group {
    margin-top: 3rem;
    margin-left: -4rem;
    margin-bottom: 4rem;
  }

  .input-group input[type="text"] {
    margin-bottom: 2rem;
    width: 40rem;
  }

  .error-icon {
    right: 9.1rem;
  }

  .error {
    position: absolute;
    top: 5rem;
  }

  .submit-btn {
    left: 31.6rem;
  }

  .submit-btn {
    width: 9rem;
  }

  .submit-btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem 1.5rem rgba(189, 96, 93, 0.4);
    background: url(../images/icon-arrow.svg) center no-repeat,
      linear-gradient(135deg, #fbd7d7, #f7c9c9);
  }
}

@media (min-width: 1200px) {
  .logo {
    left: 8.5%;
  }

  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
  }

  .banner h1 {
    margin-top: 0rem;
    font-size: 6.5rem;
    margin-bottom: 2rem;
  }

  .banner p {
    margin: 0rem 3rem 0 2rem;
    max-width: 45rem;
  }

  .input-group {
    margin: 0;
    margin-left: -4rem;
    margin-top: 3rem;
  }
}

@media (min-width: 1300px) {
  .logo {
    left: 9.5%;
  }

  .input-group input[type="text"] {
    width: 45rem;
  }

  .submit-btn{
    left: 37rem;
  }
}

@media (min-width: 1390px) {
  .logo {
    left: 10.5%;
  }

  .input-group{
    margin-top: 5rem;
    margin-left: 0rem;
  }

  .input-group input[type="text"] {
    // width: 45rem;
    height: 5.5rem;
    border-radius: 3rem;
  }

  .submit-btn{
    // left: 37rem;
    height: 5.5rem;
    border-radius: 2.8rem;
  }

  .error {
    top: 6rem;
  }

  .error-icon{
    top: 1.5rem;
  }
}
