/* MOBILE FIRST */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
  
html{
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

.subscription{
  background: linear-gradient(135deg, #ffffff, #fff3f3);
  width: 100%;
}

.header{
  width:100%;
  height: fit-content;
}

.logo img{
  width: 16rem;
  padding: 3rem;
}

.img-wrapper .desktop-img{
  display: none;
}

.img-wrapper{
  width:100% ;
  height: auto;
}

.img-wrapper img{
  width: 100%;
  object-fit: cover;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 4.2rem;
  margin:6rem 6rem 1.8rem;
  color: #ce9797;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1rem;
}

.black{
  display: block;
  color: #000;
  font-weight: 600;
}

.banner p{
  color: #ce9797;
  margin: 0 3rem 3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

.input-group{
  position: relative;
  margin-bottom: 10rem;
}

.input-group input[type="email"]{
  background: transparent;
  width: 30rem;
  height: 4.8rem;
  border: 0.1rem solid rgb(98, 60, 60, 0.2); ;
  border-radius: 2.5rem; 
  padding-left: 2rem; 
  font-family: 'Josefin Sans';
}

.input-group input[type="email"]::placeholder{
  color: rgb(206, 151, 151, 0.5);
  font-family: 'Josefin Sans';
}

.input-group input[type="email"]:focus{
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(206, 151, 151, 0.25);  
}

.submit-btn{
  position: absolute;
  width: 6.6rem;
  height: 4.8rem;
  left: 23.6rem;
  background:url(images/icon-arrow.svg) center no-repeat, linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 2.5rem;
  border: none;
  box-shadow: 0 1.5rem 1.5rem rgb(190, 47, 52, 16%);
}

/* MEDIA QUERIES FOR TABLET AND DESKTOP */
@media(min-width: 599px){
  .input-group input[type="email"]{
    width: 35rem;
  }

  .submit-btn{
    left: 28.6rem;
  }
}

@media(min-width:750px){
  .subscription{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .header{
    order: 2;
    height: fit-content;
  }

  .logo{
    position: absolute;
    left: 0;
  }

  .logo img{
    margin-left: 0rem;
    width: 20rem;
  }

  .img-wrapper .mobile-img{
    display: none;
  }

  .img-wrapper .desktop-img{
    display: block;
  }

  .img-wrapper{
    position: absolute;
    right: 0;
    width:42.5%;
    height: 100vh;
  }

  .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
    max-width: 33rem;
    max-height: 66rem;
  }  

  .banner{
    background: url(images/bg-pattern-desktop.svg) center no-repeat, linear-gradient(135deg, #ffffff, #fff3f3);
    background-position-y: inherit;
    background-position-x: right;
    background-size: cover;
    padding-top:8.3rem;
    width: auto;
    display: grid;
    grid-template-columns: 4rem repeat(4, 1fr);
  }

  .banner h1{
    text-align: left;
    width: 38rem;
    grid-column: 2;
    margin-left: 0;
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 0;
    letter-spacing: 1.8rem;
    line-height: 1.1;
  }
  
  .banner p{
    text-align: left;
    width: 38rem;
    grid-column: 2;
    margin: 3rem 3rem 0 0;
  }

  form{
    grid-column: 2;
  }

  .input-group{
    margin-top: 3rem;
  }

  .input-group input[type="email"]{
    margin-bottom: 2rem;
  }
}

@media(min-width:1023px){
  .logo img{
    margin-left: 12rem;
    margin-top: 3rem;
    width: 22rem;
  }

  .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
  }
  
  .banner{
    width: auto;
    display: grid;
    grid-template-columns: 15rem repeat(4, 1fr);
  }

  .banner h1{
    font-size: 6rem;
  }
  
  .banner p{
    text-align: left;
    width: 43rem;
    font-size: 1.6rem;
    margin: 0rem 3rem 0 0;
  }

  .input-group input[type="email"]{
    width: 40rem;
  }

  .submit-btn{
    left: 31.6rem;
  }

  .submit-btn{
    width: 9rem;
  }

  .submit-btn:hover{
    cursor: pointer;
    box-shadow: 0 1rem 1.5rem rgba(189, 96, 93, 0.4);
    background: url(images/icon-arrow.svg) center no-repeat, linear-gradient(135deg, #fbd7d7, #f7c9c9);
  }
}